Flask==3.0.0
Werkzeug==3.0.1
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1

mysql-connector-python==8.2.0
PyMySQL==1.1.0
SQLAlchemy==2.0.23
mysqlclient==2.2.1

PyPDF2==3.0.1
python-docx==0.8.11
markdown==3.5.1
EbookLib==0.18
beautifulsoup4==4.12.2

ollama==0.1.6

PyJWT==2.8.0
ruamel-yaml>=0.17.21
colorama>=0.4.5
python-dotenv==1.0.0
requests==2.31.0

cryptography==41.0.5
bcrypt==4.0.1

python-magic==0.4.27

pywin32==306
docx2txt==0.8